<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataLayer.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost\SQLEXPRESS;Database=inolyst_test; Integrated Security = true</value>
            </setting>
            <setting name="DocketNumberFormat" serializeAs="String">
                <value>INO%YY%</value>
            </setting>
            <setting name="DocketNumberSeperator" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DocketNumberPadding" serializeAs="String">
                <value>3</value>
            </setting>
        </DataLayer.Properties.Settings>
    </applicationSettings>
</configuration>