.rightpane
{
    background-color: #ffffff;
    font-family: Sans-Serif;
    outline-width: thin;
    outline-color: Black;
}

.DMS-Data-Main table
{
    border-collapse: collapse;
    border-spacing: 0;
}

.DMS-Data-Main body
{
    background-color: #CECEF6;
}

.DMS-Data-Main h1
{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 8px;
}

.DMS-Data-Main body, input, textarea, button,select
{
    color: #333333;
    font-size: 100%;
    line-height: 1.4em;
}

.DMS-Data-Display table
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode" , "Lucida Grande" ,Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 480px;
}
.DMS-Data-Display th
{
    border-bottom: 2px solid #6678B1;
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

.DMS-Data-Display td
{
    border-bottom: 1px solid #CCCCCC;
    color: #666699;
    padding: 6px 8px;
}

.DMS-Data-Display html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, aside, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.DMS-button
{
   padding: 10px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.DMS-button:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.DMS-button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

